# Core Dependencies
plotly==5.18.0
pandas==2.1.4
requests==2.31.0
kaleido==0.2.1
python-dateutil==2.8.2

# Tkinter Enhancements
tkinter-tooltip==0.4.0
ttkthemes==3.2.2
sv-ttk==2.5.0

# Development Tools
python-dotenv==1.0.0
ipython==8.18.1